---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description=""
	pubDate={new Date('AUGUST-15-2023')}
	heroImage=""
>
	<p>
		Hello its xonx who's an undegraduate in the computer science field .
		I find this field very exciting and innovative as we can build any idea
		that pull's up in our head .
	</p>

	<p>
		I mostly code in Typescript,Go,C and c++ . I have explored web dev stuffs and open source 
		projects . I also like to produce music in my free time and my music is mostly inspired by drake , travis, theweeknd and frank ocean 
		just to name a few .  
		
	</p>

	<p>
		Here y'all can find all my personal opinions and experiences about various stuffs in tech and things of my intrest.
		Sepecially the Blogs constists of some xo secrets ifykyk. 

		
	</p>

	
</Layout>
